body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #f0f0f0, #ccc);
}

.container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  width: 50%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  width: 20%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

#image-container {
  margin-top: 20px;
}

#image-container img {
  width: 50%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
